<div class="container">
    <div class="row">
      {{#each data}}
      <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-1 itembox">{{this}}</div>
      {{/each}}
    </div>



	<div class="pages">
      
          <a href="/?page={{prepage}}">&lt;&lt;上一页</a>
        
    
        {{#each pageCountList}}
        <a href="/?page={{this}}">{{this}}</a>
        {{/each}}
 
    
          <a href="/?page={{nextpage}}">下一页&gt;&gt;</a>
        </div>


</div>
