<div class="content wrapper">

    <ol class="post-card-box clearfix">
        {{#each entity}}
            <li>
                <div class="post-card">
                    <a href="/index/{{id}}" class="post-card-image">
                    </a>

                    <div class="post-card-body">

                        <a href="/index/{{id}}"
                           class="post-card-link"><h3 class="post-card-title">{{name}}</h3></a>
                    </div>

                </div>
            </li>
        {{/each}}
    </ol>


    <footer>
        <div class="page">
            <span>
            <ul>
                <a href="/index?pageNumber=1" style="display: inline"><<</a>
                {{#each pageList}}
                    <a href="/index?pageNumber={{data}}">{{data}}</a>
                {{/each}}
                <a href="/index?pageNumber={{pageCount}}">>></a>
            </ul>
            </span>
        </div>
    </footer>
</div> <!-- End Wrapper -->