<div class="container">
    <div class="row">
      {{#each curProduction}}
      	<div class="col-md-2 Bproduct">{{this}}</div>
      {{/each}}
    </div>
    <div class="lpages">
        <a href="/?page={{lastpage}}"> << </a>
        {{#each lpages}}
            <a href="/?page={{this}}">{{this}}</a>
        {{/each}}
        <a href="/?page={{nextpage}}"> >> </a>
    </div>
</div>
