<!DOCTYPE html>
<html>
  <body>
    {{#if_eq type error }}
      <h4>{{message}}</h4>
    {{else}}
      {{person.username}}/{{person.password}}/{{person.email}} added!
    {{/if_eq}}
  </body>
</html>