<div>
    {{#if response.err}}
        <h1>{{response.err}}</h1>
    {{else}}
        <table border="1"  style="  margin-top: 30px;margin-left: 40%; border:1px solid green; padding:5px;">

            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">email</th>
                <th scope="col">password</th>
            </tr>
            </thead>
            {{#each response.data}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{email}}</td>
                    <td>{{password}}</td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>