<div class="row" align="center">
	{{#each data}}
		<div class="col-md-4"><img src={{this}}></div>
    {{/each}}
</div>
<div align="center">
	<a class="btn btn-default" href="/?imgPage={{lastPage}}"><<</a>
	{{#each Pagination}}
    	<a class="btn btn-default" href="/?imgPage={{this}}" id="{{this}}">{{this}}</a>
    {{/each}}
	<a class="btn btn-default" href="/?imgPage={{nextPage}}">>></a>	
</div>