<table class = "table1">
	<tr>
		<th>发件人</th>
		<th>主题</th>
		<th>时间</th>
	</tr>
	 {{#each all}}
        <tr>
            <td>{{this.send}}</td>
            <td>{{this.title}}</td>
            <td>{{this.time}}</td>
        </tr>
        {{/each}}
</table>

<a href="/?page={{prePage}}">上一页</a>
<a href="/?page={{nextPage}}">下一页</a>
